Repository pitechca/print: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend

.gitlab-ci.yml:

stages:
    - prepare
    - build
    - deploy

  variables:
    DOCKER_COMPOSE_FILE: "docker-compose.yaml"
    FRONTEND_SERVICE: "frontend"
    BACKEND_SERVICE: "backend"

  generate_env_files:
    stage: prepare
    tags:
      - shell
    script:
      - touch .env .env.dev && chmod 600 .env .env.dev
    artifacts:
      paths:
        - .env
        - .env.dev
      expire_in: never

  # Build Frontend Only If Changed
  build_frontend:
    stage: build
    rules:
      - if: '$CI_COMMIT_REF_NAME == "dev"'
        variables:
          DOCKER_COMPOSE_FILE: "docker-compose.dev.yaml"
          FRONTEND_SERVICE: "frontend-dev"
      - if: '$CI_COMMIT_REF_NAME == "main"'
        variables:
          DOCKER_COMPOSE_FILE: "docker-compose.yaml"
          FRONTEND_SERVICE: "frontend"
      - changes:
          - frontend/**
    tags:
      - shell
    script:
      - docker-compose -f $DOCKER_COMPOSE_FILE build $FRONTEND_SERVICE


  # Build Backend Only If Changed
  build_backend:
    stage: build
    rules:
      - if: '$CI_COMMIT_REF_NAME == "dev"'
        variables:
          DOCKER_COMPOSE_FILE: "docker-compose.dev.yaml"
          BACKEND_SERVICE: "backend-dev"
      - if: '$CI_COMMIT_REF_NAME == "main"'
        variables:
          DOCKER_COMPOSE_FILE: "docker-compose.yaml"
          BACKEND_SERVICE: "backend"
      - changes:
          - backend/**
    tags:
      - shell
    script:
      - docker-compose -f $DOCKER_COMPOSE_FILE build $BACKEND_SERVICE


  # Deploy to Development
  deploy_dev:
    stage: deploy
    only:
      - dev
    environment:
      name: development
    tags:
      - shell
    before_script:
      - cp ${ENV_DEV} .env.dev
    script:
      - docker-compose -f docker-compose.dev.yaml up -d --no-build

  # Deploy to Production
  deploy_prod:
    stage: deploy
    only:
      - main
    environment:
      name: production
    tags:
      - shell
    before_script:
      - cp ${ENV_PROD} .env
    script:
      - docker-compose -f docker-compose.yaml up -d --no-build

gitlab-ci.yaml:

stages:
  - build
  - deploy

variables:
  DOCKER_COMPOSE_FILE: docker-compose.${CI_COMMIT_REF_SLUG}.yaml

# Build Frontend Only If Changed
build_frontend:
  stage: build
  only:
    - dev
    - main
  rules:
    - changes:
        - frontend/** 
  services:
    - docker:dind
  script:
    - docker-compose -f $DOCKER_COMPOSE_FILE build frontend

# Build Backend Only If Changed
build_backend:
  stage: build
  only:
    - dev
    - main
  rules:
    - changes:
        - backend/** 
  services:
    - docker:dind
  script:
    - docker-compose -f $DOCKER_COMPOSE_FILE build backend


deploy:
  stage: deploy
  only:
    - dev
    - main
  services:
    - docker:dind
  script:
    - docker-compose -f $DOCKER_COMPOSE_FILE up -d --no-build

Separate dev and prod nginx config files
  frontend/Dockerfile.dev
  frontend/nginx-dev.conf
Due: build_frontend

hamburger menu, producteditor design modified
  backend/logo.png
  backend/server.js
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/Navbar.js
  frontend/src/components/ProductEditor.js
  frontend/src/components/ProductEditorBags.js
  frontend/src/components/ProductViewTransformer.js
  frontend/src/pages/Cart.js
  frontend/src/pages/Home.js
Due: build_frontend, build_backend

cart animation, img upload validation
  backend/.gitignore
  backend/server.js
  frontend/src/components/ProductEditor.js
  frontend/src/components/ProductEditorBags.js
  frontend/src/pages/Orders.js
Due: build_backend

cart animation, img upload validation
  backend/server.js
Due: build_backend

added reset password
  backend/server.js
  frontend/src/App.js
  frontend/src/pages/ForgotPassword.js
  frontend/src/pages/Login.js
  frontend/src/pages/ResetPassword.js
Due: build_backend

added reset password
  backend/server.js
Due: build_backend

Volume upload directory
  docker-compose.dev.yaml
  docker-compose.yaml
Due: none

adding notification , clients in admin dashboard
  backend/package-lock.json
  backend/package.json
  backend/server.js
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/components/CheckoutForm.js
  frontend/src/components/GlobalNotification.js
  frontend/src/components/ProductEditor.js
  frontend/src/components/ProductEditorBags.js
  frontend/src/components/admin/ClientsManagement.js
  frontend/src/components/admin/NotificationsManagement.js
  frontend/src/components/admin/Overview.js
  frontend/src/pages/AdminDashboard.js
  frontend/src/pages/Cart.js
  frontend/src/pages/Home.js
  frontend/src/pages/Orders.js
  frontend/src/pages/SalesReport.js
Due: build_backend

Updating, OrderManagenemt, OverView, notification structure
  backend/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/GlobalNotification.js
  frontend/src/components/ProductEditor.js
  frontend/src/components/admin/OrderManagement.js
  frontend/src/components/admin/Overview.js
  frontend/src/pages/Home.js
Due: build_frontend, build_backend

admin dashboard responsive
  backend/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/admin/ClientsManagement.js
  frontend/src/components/admin/CouponManagement.js
  frontend/src/components/admin/NotificationsManagement.js
  frontend/src/pages/AdminDashboard.js
Due: build_frontend, build_backend

cliendMnaagement responsive added
  frontend/src/components/admin/ClientsManagement.js
Due: none

better UI -> home, productcustomization, register steps
  backend/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/AddressAutocomplete.js
  frontend/src/components/CheckoutForm.js
  frontend/src/components/Navbar.js
  frontend/src/components/ProductEditor.js
  frontend/src/components/ProductHeader.js
  frontend/src/pages/Cart.js
  frontend/src/pages/Home.js
  frontend/src/pages/Login.js
  frontend/src/pages/Product.js
  frontend/src/pages/ProductCustomization.js
  frontend/src/pages/Register.js
  frontend/src/styles/main.css
Due: build_frontend, build_backend

client uploads
  backend/server.js
  frontend/src/App.js
  frontend/src/components/admin/ClientsManagement.js
  frontend/src/components/admin/OrderManagement.js
  frontend/src/components/admin/Overview.js
  frontend/src/index.js
  frontend/src/pages/AdminDashboard.js
  frontend/src/pages/Cart.js
  frontend/src/pages/Home.js
  frontend/src/pages/Product.js
  frontend/src/pages/ProductCustomization.js
  frontend/src/pages/Register.js
  frontend/src/pages/admin/AdminSecurity.js
  frontend/src/pages/admin/ClientUploads.js
  frontend/src/pages/admin/MediaManager.js
  frontend/src/pages/admin/SalesReport.js
  frontend/src/pages/admin/UserManagement.js
  frontend/src/styles/main.css
  frontend/src/utils/globalEffects.js
Due: build_backend

corn schedule edded to backedn
  backend/package-lock.json
  backend/package.json
  backend/server.js
Due: build_backend

productcutomizarion
  frontend/src/pages/ProductCustomization.js
Due: none

updating mobile design, navbar new design
  frontend/public/images/loading.gif
  frontend/public/images/logoBagBox.png
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/assets/Loading.json
  frontend/src/components/Footer.js
  frontend/src/components/Navbar.js
  frontend/src/components/admin/CategoryManagement.js
  frontend/src/components/admin/ClientsManagement.js
  frontend/src/components/admin/CouponManagement.js
  frontend/src/components/admin/NotificationsManagement.js
  frontend/src/components/admin/OrderManagement.js
  frontend/src/components/admin/Overview.js
  frontend/src/components/admin/ProductManagement.js
  frontend/src/components/admin/TemplateManagement.js
  frontend/src/pages/AdminDashboard.js
  frontend/src/pages/Home.js
  frontend/src/pages/Profile.js
  frontend/src/pages/admin/ClientUploads.js
  frontend/src/pages/admin/MediaManager.js
  frontend/src/styles/main.css
Due: none

modify some desing
  frontend/public/images/loading.gif
  frontend/public/images/logoBagBox.png
  frontend/src/App.js
  frontend/src/components/Navbar.js
  frontend/src/components/admin/Overview.js
  frontend/src/pages/Home.js
  frontend/src/pages/Login.js
  frontend/src/pages/ProductCustomization.js
  frontend/src/pages/Register.js
  frontend/src/pages/admin/UserManagement.js
Due: none
