Repository pitechca/print: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend

build_frontend:
  stage: build
  services:
  - docker:dind
  script:
  - docker-compose -f $DOCKER_COMPOSE_FILE build frontend

build_backend:
  stage: build
  services:
  - docker:dind
  script:
  - docker-compose -f $DOCKER_COMPOSE_FILE build backend

product updated with new features
  backend/server.js
  frontend/src/components/CheckoutForm.js
  frontend/src/components/ProductEditor.js
  frontend/src/components/ProductEditorBags.js
  frontend/src/components/admin/ProductManagement.js
  frontend/src/context/CartContext.js
  frontend/src/pages/AdminDashboard.js
  frontend/src/pages/Cart.js
Due: build_backend

init gitlab cli file
  .gitignore
  .gitlab-ci.yml
Due: none

Remvoe env from docker compose files
  docker-compose.dev.yaml
  docker-compose.yaml
Due: none

Use environment variables to determine the correct service name in gitlab-ci
  .gitlab-ci.yml
Due: none

Fix docker:dind issue in gitlab-ci
  .gitlab-ci.yml
Due: none

use docker socket instead of docker dim
  .gitlab-ci.yml
Due: none

remove docker socket frmo gitlab-ci
  .gitlab-ci.yml
Due: none

change service tags to shell
  .gitlab-ci.yml
Due: none

Fix branch dependency issue in gitlab-cli
  .gitlab-ci.yml
Due: none

replace poduction with main in gitlab-cli
  .gitlab-ci.yml
Due: none

Account page added
  backend/server.js
  frontend/src/components/Navbar.js
  frontend/src/components/ProductEditor.js
  frontend/src/components/ProductEditorBags.js
  frontend/src/pages/Home.js
  frontend/src/pages/Login.js
  frontend/src/pages/Profile.js
  frontend/src/pages/Register.js
Due: build_backend

overview now contains usermanagement, sales report
  backend/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/CheckoutForm.js
  frontend/src/components/admin/Overview.js
  frontend/src/components/admin/SalesReport.js
  frontend/src/components/admin/UserManagement.js
  frontend/src/pages/AdminDashboard.js
  frontend/src/pages/Profile.js
Due: build_frontend, build_backend

adding sales report & usermanagement to adminpanel
  backend/server.js
  frontend/src/App.js
  frontend/src/components/CheckoutForm.js
  frontend/src/components/admin/Overview.js
  frontend/src/pages/Profile.js
  frontend/src/pages/SalesReport.js
  frontend/src/pages/UserManagement.js
Due: build_backend

notification in admindashboard
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/admin/CategoryManagement.js
  frontend/src/components/admin/Overview.js
  frontend/src/components/admin/SalesReport.js
  frontend/src/components/admin/UserManagement.js
  frontend/src/pages/AdminDashboard.js
Due: build_frontend

notification in admindashboard
  frontend/package.json
  frontend/src/components/admin/CategoryManagement.js
Due: build_frontend

Load envs before deploying
  .gitlab-ci.yml
Due: none

Define constant networks for environments
  docker-compose.dev.yaml
  docker-compose.yaml
Due: none

Define constant networks for environments
  .gitlab-ci.yml
  docker-compose.dev.yaml
  docker-compose.yaml
Due: none

merge branch dev into branch main
  docker-compose.dev.yaml
  docker-compose.yaml
Due: none

large size img saved to backend
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/upload/1739410878466_image.jpg
  backend/upload/1739410878914_thumbnail.jpg
  backend/upload/1739410890866_image.jpg
  backend/upload/1739410891338_thumbnail.jpg
  backend/upload/1739415165170_image.jpg
  backend/upload/1739415165436_thumbnail.jpg
  backend/upload/1739415197575_image.jpg
  backend/upload/1739415197834_thumbnail.jpg
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/CheckoutForm.js
  frontend/src/components/ProductEditor.js
  frontend/src/components/ProductEditorBags.js
  frontend/src/components/admin/CategoryManagement.js
  frontend/src/components/admin/OrderManagement.js
  frontend/src/components/admin/Overview.js
  frontend/src/context/CartContext.js
  frontend/src/pages/AdminDashboard.js
  frontend/src/pages/Cart.js
  frontend/src/pages/Orders.js
  frontend/src/pages/SalesReport.js
  frontend/src/pages/UserManagement.js
Due: build_frontend, build_backend

auto compelet in account has been added
  backend/server.js
  backend/services/googleDriveService.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AddressAutocomplete.js
  frontend/src/components/AddressManagement.js
  frontend/src/components/admin/Overview.js
  frontend/src/pages/Profile.js
  frontend/src/pages/Register.js
Due: build_frontend, build_backend

Updating template design in admindashboard UI
  frontend/src/components/AddressManagement.js
  frontend/src/components/OrderDetails.js
  frontend/src/components/TemplateDesigner.js
  frontend/src/pages/Profile.js
Due: none

contact googlemap added
  backend/upload/1739505612178_image.jpg
  backend/upload/1739505612261_thumbnail.jpg
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/cartAnimation.json
  frontend/src/components/ProductEditor.js
  frontend/src/pages/Contact.js
  frontend/src/pages/Home.js
  frontend/src/pages/Product.js
Due: build_frontend

register autocomplete address added
  frontend/src/pages/Register.js
Due: none

admin security added but needs getting fixed
  backend/server.js
  frontend/src/App.js
  frontend/src/pages/AdminSecurity.js
  frontend/src/pages/Profile.js
  frontend/src/pages/UserManagement.js
Due: build_backend

updating home design
  backend/upload/1739558862248_image.jpg
  backend/upload/1739558862493_thumbnail.jpg
  backend/upload/1739558874006_image.png
  backend/upload/1739558874644_thumbnail.png
  backend/upload/1739572487141_image.jpeg
  backend/upload/1739572487524_thumbnail.jpeg
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/components/Navbar.js
  frontend/src/pages/Home.js
Due: none

Use a default nginx config for serving the react app
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/nginx.conf
Due: build_frontend

adding visitor mode to cart
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/services/googleDriveService.js
  backend/upload/1739410878466_image.jpg
  backend/upload/1739410878914_thumbnail.jpg
  backend/upload/1739410890866_image.jpg
  backend/upload/1739410891338_thumbnail.jpg
  backend/upload/1739415165170_image.jpg
  backend/upload/1739415165436_thumbnail.jpg
  backend/upload/1739415197575_image.jpg
  backend/upload/1739415197834_thumbnail.jpg
  backend/upload/1739505612178_image.jpg
  backend/upload/1739505612261_thumbnail.jpg
  backend/upload/1739558862248_image.jpg
  backend/upload/1739558862493_thumbnail.jpg
  backend/upload/1739558874006_image.png
  backend/upload/1739558874644_thumbnail.png
  backend/upload/1739572487141_image.jpeg
  backend/upload/1739572487524_thumbnail.jpeg
  backend/upload/1739583698440_icon.jpg
  frontend/src/components/CheckoutForm.js
  frontend/src/components/ProductEditor.js
  frontend/src/components/ProductEditorBags.js
  frontend/src/context/CartContext.js
  frontend/src/pages/Home.js
  frontend/src/pages/Login.js
  frontend/src/pages/Profile.js
Due: build_backend

adding stripe
  backend/server.js
  frontend/src/components/CheckoutForm.js
  frontend/src/pages/Cart.js
Due: build_backend

adding stripe
  backend/server.js
  frontend/public/images/logo-static.png
  frontend/src/pages/Home.js
Due: build_backend

Add a db user with minimum access for the application
  startup-scripts/init-mongo.js
Due: none

dynamically load all environment variables into container
  .gitlab-ci.yml
  docker-compose.dev.yaml
  docker-compose.yaml
  gitlab-ci.yaml
Due: none

Use ENV file instead of variables
  .gitlab-ci.yml
Due: none

Enable auth for mongo in docker compose file
  docker-compose.yaml
Due: none

Force to recreate the container on push
  .gitlab-ci.yml
  docker-compose.dev.yaml
Due: none

Change proxy name in pakcage.json
  backend/package.json
Due: build_backend

Execute backend on port 80
  backend/package.json
  backend/server.js
  docker-compose.dev.yaml
  docker-compose.yaml
  frontend/package.json
Due: build_frontend, build_backend

Proxy pass backend request to the backend container
  frontend/nginx.conf
Due: build_frontend

Path conditions:
  build_frontend: any of: frontend/**
  build_backend: any of: backend/**
